article{
    align-items: center;
    display: grid;
    background-color: black;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    grid-gap: 20px;
    padding: 40px;
    .text-container{
        color: white;
    }
}