@font-face {
    font-family:f-black;
    src: url(../../font/AirbnbCerealBlack.woff);
}
@font-face {
    font-family:f-bold;
    src: url(../../font/AirbnbCerealBold.woff);
}
@font-face {
    font-family:f-book;
    src: url(../../font/AirbnbCerealBook.woff);
}
@font-face {
    font-family:f-extrabold;
    src: url(../../font/AirbnbCerealExtraBold.woff);
}
@font-face {
    font-family:f-light;
    src: url(../../font/AirbnbCerealLight.woff);
}
@font-face {
    font-family:f-medium;
    src: url(../../font/AirbnbCerealMedium.woff);
}