// Colors
$clr1: #ff385c;
$clr2: #222222;
$clr3: #717171;
$clr4: #303030;
$clr5: #ffffffea;
$clr6: #f7f7f7e9;
$clr7: #dddddd;
$clr8: #7e7e7e;
$clr9: #ebebeb;
$clr10: #000000;
$clr11: #ebebeb;
$clr12: #b4b4b4;

// Breakpoints
$break-mobile: 350px;
$break-narrow: 480px;
$break-tablet: 620px;
$break-normal: 820px;
$break-large: 1100px;
$break-wide: 1300px;
